
.contenido_menu{
    background-color: #7D7C7C ;
    display: flex;    
    position: fixed;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    justify-content: center;
}

.menu { 
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    
}

.menu a {
    text-decoration: none;
    color: #F1EFEF;
    align-items: center;
    font-size: 19px;
}
.menu a:hover {
    color: black;
    background-color: #CCC8AA;
    border-radius: 10px;
    padding: 5px;
    font-size: 26px;
}

